{% extends 'index.html' %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Django API</h1>>
	<p class ="lead">Nessa API, iremos realizar um simples cadastro de usuario e implementaremos um CRUD.
        O Django é um excelente framework.
    </p>
</div>

<hr>

<div class = "container">
    <div class="d-flex flex-column">
            <h4>Usuarios Cadastrados:</h4>
	        {% for cadastro in contas %}
		        <p>{{cadastro}}</p>
	        {% endfor %}
    </div>
</div>

{% endblock content %}